@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding:0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

$primary-headtext-color: #161D6C;
$primary-headtext2-color: #008dff;
$primary-text-color: #6a6f83;

$primary-color: #480ca8;
$primary-color-variant: #008DFF;
$secondary-color: #FF4879;
$white-color: #fff;
$light-color: rgba($white-color, 0.7);
$gray-color: #6A6F83;
$black-color: #0c031b;
$container-lg: 82%;
$container-md: 90%;
$container-sm: 94%;
$container-full: 100%;