header {
    height: 80vh;
    display: grid;
    place-items: center;
    position: relative;
    
    .header_image {
        width: $container-full;
        position: relative;

        .image_header {
            padding-top: 80px;
            width: 100%;
            height: 90vh;
            object-fit: cover;
        }   

    }

    .header_footer {
        background-color: #161D6C;
        width: $container-full;
        height: 5rem;
        display: flex;
        align-items: center;
        padding: 30px;


        ul {
            color: $white-color;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            width: 100%;


                li > .vinkje {
                    vertical-align: middle;
                    margin-right: 0.5rem;
                    background-color: white;
                    padding: 0.5rem;
                    border-radius: 50%;
                }

        }
    }

    .container {
        width: $container-lg;
        margin-top: 3rem;
        gap: 8%;
        align-items: center;
        justify-content: space-between;
        position: absolute;

        .header_content {

            h1 {
                color: $primary-headtext-color;
                font-size: 3.5rem;
                line-height: 1.1;
                letter-spacing: -2px;
                font-weight: 600;
                width: 30rem;
            }

            p {
                color: $gray-color;
                margin: 1rem 0 2rem;
                font-size: 1.1rem;
                width: 25rem;
            }
        }
    }


}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */

@media screen and (max-width: 1024px) {
    header {
        height: 70vh;
        padding-top: 3rem;

            .header_footer {
                ul {
                    li {
                font-size: 1rem;
                    }
                }
            }
        .container {
            gap: 1rem;
            .header_content {
                h1 {
                    font-size: 2.2rem;
                }
            }

        }
    }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */

@media screen and (max-width: 600px) {
    header {
        height: 73vh;
        padding-top: 3rem;
        .header_image {
            width: 100%;
            .image_header {
                width: 100%;
                height: 300px;

                object-fit:cover ;
            }   
    
        }
        .container {
            grid-template-columns: 1fr;
            position: relative;
            .header_content {
                margin: 0.8rem 0 1.5rem;
                line-height: 1.4;
                h1 {
                    width: auto;
                    font-size: 2rem;
                }

                p {
                    width: auto;
                    font-size: 0.8rem;
                }
            }
        }
        .header_footer {
            height: 10rem;
            
            ul {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
                font-size: 0.9rem;
                li {
                    gap: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    header {
        .header_footer {

            ul {
                li {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

