#section2 {
    display: grid;
    overflow: hidden;
    .container {
      display: grid;
      grid-template-columns: 36% 56%;
      gap: 8%;
      align-items: center;

  
      .section_content {

        top: 0;
            h1 {
                font-size: 2rem;
                line-height: 1.1;
                letter-spacing: -2px;
                color: $primary-headtext-color;
            }

            p {
                margin: 1rem 0 2rem;
                color: $gray-color;
                font-size: 1.1rem;
            }   

            a {
                margin-top: 2rem;
                font-weight: 500;
            }

            ul {



                li {
                    color: $primary-headtext-color;
                    font-size: 1rem;
                    padding: 0.5rem;
                }

                li > .oval {
                    vertical-align: middle;
                }

                li > small {
                    text-align: left;
                    float: right;
                    min-width: 60%;
                    word-wrap: break-word;
                    font-weight: 500;
                }
            }
      }
    }
}

  /* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */

  @media screen and (max-width: 1024px) {
    #section2 {
        .container {
            display: grid;
            grid-template-columns: 38% 57%;
            gap: 5%;
            .section_content {
                width: 110%;
                h1 {
                    font-size: 1.8rem;
                }
                p {
                    margin: 0.5rem 0 1rem;
                    font-size: 0.9rem;
                }

                a {
                    margin-top: 1rem;
                }
            }

            .section_image {


            }
        }
    }
}

  /* ================= MEDIA QUERIES (SMALL DEVICES) ================= */

  @media screen and (max-width: 800px) {
    #section2 {

        .container {
            grid-template-columns: 1fr;

            .section_content {
                width: 100%;
                h1 {

                }
                p {

                }

                a {

            }

            .section_image {

            }
            
        }
            
        }
    }
}