@mixin button($textColor: $white-color, $backgroundColor: $secondary-color) {
    display: inline-block;
    width: fit-content;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    background: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    transition: all 400ms ease;

    &:hover {
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgba($black-color, 0.15);
    }
}

@mixin button2($textColor: $white-color, $backgroundColor: $secondary-color) {
    display: inline-block;
    width: fit-content;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    color: $backgroundColor;
    cursor: pointer;
    transition: all 400ms ease;
    font-weight: 700;
    &:hover {
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgba($black-color, 0.15);
        color: $textColor;

        img.plus {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(154deg) brightness(200%) contrast(105%);
        }
    }
}

@mixin blauwevormpje($blauwColor: $primary-color-variant) {
    position: absolute;
    content: '';
    height: 15px;
    background: $blauwColor;
    transform: skew(-20deg);
    z-index: 20;
}

@mixin rozevormpje($buttonColor: $secondary-color) {
    position: absolute;
    content: '';
    height: 15px;
    background: $buttonColor;
    transform: skew(-20deg);
    z-index: 20;
}

@mixin triangle($height: 141px, $blauwColor: $primary-color-variant) {
    position: absolute;
    z-index: 20;
    border-bottom: $height solid $blauwColor;
    border-right: ($height / 2.6) solid transparent;
    border-left: ($height / 1.8) solid transparent;
    transform: rotate(-90deg);
  }

  @mixin triangle2($height: 141px, $blauwColor: $primary-color-variant) {
    position: absolute;
    z-index: 20;
    width: 0;
    height: 0;
    border-bottom: ($height /2) solid $blauwColor;
    border-right: ($height / 2) solid transparent;
    border-left: ($height / 2) solid transparent;
    transform: rotate(-135deg);
  }

  @mixin idealeblauwevormpje($blauwColor: $primary-color-variant) {
    position: absolute;
    content: '';
    height: 15px;
    background: $blauwColor;
    transform: skew(-20deg);
    z-index: 20;
}
