nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    z-index: 99;
    display: grid;
    place-items: center;
    background-color: white;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
            img {
                width: 10rem;
            }

            ul {
                display: flex;
                align-items: center;
                gap: 2rem;

                li.hidden-li {
                    color: $primary-headtext-color;
                }

                a.hidden-li {
                    color: $primary-color-variant;
                }

                object {
                    width: 1.2rem;
                    float: left;
                    margin: 0.22rem 0.35rem 0.22rem 0.22rem;
                }
            }


            a {
                font-weight: 800;
                font-size: 0.9rem;
                position: relative;
                

                
                  &.ikhebinteresse {
                    margin-right: 3rem; /* Increase the margin-left value to create a bigger gap */
                  }




            }


    }
}

/* ================= MEDIA QUERIES (BASE DEVICES) ================= */

@media screen and (max-width: 1200px) {
    nav {
        .container {
            a {
            &.ikhebinteresse {
                margin-right: 2rem; /* Increase the margin-left value to create a bigger gap */
            }
        }
        }
    }
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */

@media screen and (max-width: 1024px) {
    nav {
        .container {
                    ul {
                        gap: 0.2rem;

                         li.hidden-li, a.hidden-li  {
                            display: none;
                            position: fixed;
                        }

                        object {
                            width: 1.2rem;
                            float: left;
                            margin: 0.22rem 0.22rem 0.22rem 0.22rem;
                            
                        }

                    }
                }
            }
        }
    
    

