#section1 {
    display: grid;
    overflow: hidden;
    padding-top: 2rem;

    .container {
      display: grid;
      grid-template-columns: 36% 56%;
      gap: 8%;
      align-items: center;


  
      .section_content {
        top: 0;
            h1 {
                font-size: 2rem;
                line-height: 1.1;
                letter-spacing: -2px;
                color: $primary-headtext-color;
            }

            p {
                margin: 1rem 0 2rem;
                color: $gray-color;
                font-size: 1.1rem;
            }   

            a {
                margin-top: 2rem;
                font-weight: 500;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 4rem;

                li {
                    color: $primary-headtext-color;
                    font-size: 0.8rem;
                    padding: 0.5rem;
                }

                li > .vinkje {
                    margin-right: 0.5rem;
                    vertical-align: middle;
                }
            }
      }
    }
  }

  /* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */

@media screen and (max-width: 1024px) {
    #section1 {


        .container {
            gap: 2%;
            grid-template-columns: 36% 62%;
            .section_content {

                h1 {
                    font-size: 1.2rem;
                }
                p {
                    margin: 0.5rem 0 1rem;
                    font-size: 0.8rem;
                }

                a {
                    margin-top: 1rem;
                }
            }

            .section_image {

                min-width: 100%;
                gap: 4%;
            }
        }
    }
}

  /* ================= MEDIA QUERIES (SMALL DEVICES) ================= */

@media screen and (max-width: 800px) {
    #section1 {


        .container {
            grid-template-columns: 1fr;
            
        }
    }
}


  /* ================= MEDIA QUERIES (SMALL DEVICES) ================= */

  @media screen and (max-width: 600px) {
    #section1 {
  
    }
  }