#section1 {
    display: grid;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .blauwevormpje {
        @include blauwevormpje;
        position: relative;
        min-width: 2%;
        width: 28px;

    }

    .blauwevormpje2 {
        @include blauwevormpje;
        position: relative;
        min-width: 2%;
        width: 28px;
        right: 0 !important;
    }
    .container {
      display: grid;
      grid-template-columns: 38% 58%;
      gap: 4%;
      align-items: center;




  
      .section_content {
        top: 0;
            h1 {
                font-size: 2rem;
                line-height: 1.1;
                letter-spacing: -2px;
                color: $primary-headtext-color;
            }

            p {
                margin: 1rem 0 2rem;
                color: $gray-color;
                font-size: 1.1rem;
            }   

            a {
                margin-top: 2rem;
                font-weight: 500;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 4rem;

                li {
                    color: $primary-headtext-color;
                    font-size: 0.8rem;
                    padding: 0.5rem;
                }

                li > .vinkje {
                    margin-right: 0.5rem;
                    vertical-align: middle;
                }
            }
      }
    }
  }

  /* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */

@media screen and (max-width: 1024px) {
    #section1 {


        .container {
            gap: 2%;
            grid-template-columns: 36% 62%;
            .section_content {

                h1 {
                    font-size: 1.2rem;
                }
                p {
                    margin: 0.5rem 0 1rem;
                    font-size: 0.8rem;
                }

                a {
                    margin-top: 1rem;
                }
            }

            .section_image {

                min-width: 100%;
                gap: 4%;
            }
        }
    }
}

  /* ================= MEDIA QUERIES (SMALL DEVICES) ================= */

@media screen and (max-width: 800px) {
    #section1 {

        .container {
            grid-template-columns: 1fr;
            
            .section_content { 
     
            }
        }
    }
}


  /* ================= MEDIA QUERIES (SMALL DEVICES) ================= */

  @media screen and (max-width: 600px) {
    #section1 {
        margin-top: 3rem;
        .container {
            .section_content {
                ul {
                    grid-template-columns: 1fr;
    
    
                    li {
                        color: $primary-headtext-color;
                        font-size: 0.8rem;
                        padding: 0.5rem;
                    }
    
                    li > .vinkje {
                        margin-right: 0.5rem;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
  }